/* ----------General CSS---------------- */


    .center {
        padding-bottom: 50px;
        max-width: 80%;
        margin: auto;

    }

    h1 {
        text-align: center;
    }



    .all-images{
        height: 50%;
        width: auto;
    }

    .center-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .ul,
    .li {
        font-size: 35px;
        font-weight: 700;
    }

    .ul {
        list-style: none;
    }

    .li {
        display: inline-block;
        margin-right: 40px;
    }


/* ----------General CSS---------------- */

/* -------------------CSS-EXERCISES------------------------ */
    /* Exercise 1 - CSS Methods (External, Internal, Inline */
    .exerciseuno {
        background-color: red;
        color: white;
        font-size: 32px;
        text-align: center;
        font-weight: bold;
    }

    /* Exercise 2 - Class ID Selectors */
    .oddnumbers{
        background-color: #fe748e;
        font-family: Verdana, sans-serif;
    }

    .cooler {
        font-size: 24px;
    }

    #numbatwo {
        color: #10f;
        font-size: 36px;
    }

    #numbafour {
        background-color: #29e368;
        font-weight: bold;
    }

    /* Exercise 3 - Grouping Selectors */
    .button1 .button2{
        font-size: 28px;
        font-family: Helvetica, 'Times New Roman', sans-serif;
    }

    .button1 {
        background-color: black;
        color: white;
    }

    .button2 {
        background-color: yellow;
    }

    /* Exercise 4 - Chained Selectors */

    .avatar.proportioned{
        width: 300px;   
        height: auto;
    }

    .avatar.distorted {
            width: 200px;
            height: 400px   ;
    }

    /* Exercise 5 - Descendant combinators */

    .parent .child {
        background-color: yellow;
        color: red;
        font-size: 20px;
        text-align: center;
    }

    /* Exercise 6 - Cascades */

    .para,
    .small-para {
    color: hsl(0, 0%, 0%);
    font-weight: 800;
    }

    .small-para {
    font-size: 14px;
    font-weight: 800;
    }

    .para {
    font-size: 22px;
    }

    .confirm {
    background: green;
    color: white;
    font-weight: bold;
    } 

    .button {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 20px;
    }

    .child2 {
    color: rgb(0, 0, 0);
    font-weight: 800;
    font-size: 14px;
    }

    div.text {
    color: rgb(0, 0, 0);
    font-size: 22px;
    font-weight: 100;
    }
/* -------------------CSS-EXERCISES------------------------ */

.alert {
    color: red;
}

.warning {
    color: yellow;
}